<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.hi.hbv601g.brent">
    <!-- Allows us to get internet access, or demands it? -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@style/NoActionBar">
        <activity android:name=".SignUpActivity"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity">

            <!--
                 Have to put this so parent activity links work
                for older version of android
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="is.hi.hbv601g.brent.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>